#steps{
    margin:20px 0;
    h1{ font-size: 1.5em; }
}

#add-block{
    width: 90%;
    height: 90%;
    min-height: 200px;
    margin: 40px auto;
    border: 1px dashed gray;
    display: block;
    position: relative;
    
    h1{
        font-size: 2em;
        top: 50%;
        margin-top: -1em;
        position: absolute;
        width: 100%;
    }
}

.add-choice{ width: 100%; }
.no-pad{ padding: 0; }

#story-options{
    label{
        margin: 10px auto;
        display: block;
    }
}