.tabs{
    dd{ width: 50%; }
}

.collection{
    width: 90%;
    position: relative;
    margin: 15px auto;
    border-left: 5px solid gray;
    background-color: #f5f5f5;
    min-height: 100px;
    padding: 10px 0;
    
    header h1{ line-height: 1.7em; }
    ul{ list-style: none; }
    li{ text-align: right; padding-right: 1em; }
    i{ font-size: 1.5em; }
}