html, body{ height: 100%; }
main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -65px; 
}
main:after {
  content: "";
  display: block;
}

footer{
    background-color: $topbar-bg-color;
    height: 65px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 2;
    
    .button{
        width: 95%;
        position: relative;
        margin: 0 auto;
        height: 45px;
        padding: 8px 16px;
        line-height: 30px;
    }
    
    form{ height: 45px; }
    form input[type="search"]{ height: 45px; }
}

main:after {
  /* .push must be the same height as footer */
  height: 65px; 
}