<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lify</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>

<body>
    <div id="main-container">
        
    </div>
    <script type="text/x-handlebars">
        {{outlet}}
    </script>
    
    <script type="text/x-handlebars" data-template-name="index">
        <header class="main-title"><h1>Welcome to Lify, what do you want to do?</h1></header>
        <main class="row">
            <section id="login-btns">
                {{#link-to "login" classNames="button expand"}}Log in{{/link-to}}
                <p class="main-title"> or </p>
                {{#link-to "signup" classNames="button expand"}}Sign Up{{/link-to}}
            </section>
        </main>
    </script>
    <script type="text/x-handlebars" data-template-name="signup">
            <header class="main-title"><h1>Sign Up</h1></header>
            <main class="row">
                <section id="login-btns">
                    <form>
                        <p>
                            <label>Email</label>
                            {{input type="text" value=email placeholder="Email" }}
                        </p>
                        <p>
                            <label>Password</label>
                            {{input type="password" value=passowrd placeholder="Enter a password"}}
                        </p>
                        <input class="button expand" {{action "sign_up"}} type="submit" value="Sign up">
                    </form>
                    <p> Already have an account? {{#link-to "login" }}Log in{{/link-to}}</p>
                </section>
            </main>
    </script>
    <script type="text/x-handlebars" data-template-name="login">
        <header class="main-title"><h1>Log in</h1></header>
            <main class="row">
                <section id="login-btns">
                    <form>
                        <p>
                            <label>Email</label>
                            {{input type="text" value=email placeholder="Email" }}
                        </p>
                        <p>
                            <label>Password</label>
                            {{input type="password" value=passowrd placeholder="Enter a password"}}
                        </p>
                        <input class="button expand" {{action "log_in"}} type="submit" value="Log in">
                    </form>
                    <p> Got Lost?{{#link-to "index"}}Go Back{{/link-to}}</p>
                </section>
            </main>
    </script>
    <script type="text/x-handlebars" data-template-name="_navigation">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name">
                <h1><a href="#">Title Home</a></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
          
            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                <!--<li><a href="#">Discover</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Drafts</a></li>
                <li><a href="#">Add Collection</a></li>-->
                <li>{{#link-to "memory.addmemory"}}Add a Memory{{/link-to}}</li>
                <!--<li><a href="#">Log Out</a></li>
                <li id="menu-search">
                    <a href="#">
                        <form>
                            <input type="search" placeholder="Search All" />
                        </form>
                    </a>
                </li>-->
              </ul>
            </section>
        </nav>
    </script>
    <script type="text/x-handlebars" data-template-name="memories">
        {{partial "navigation"}}
        <h1>Welcome to your memories</h1>
        {{#each}}
            <div class="collection">
                <header class="small-10 columns">
                    <h1>Collection Name: {{Name}}</h1>
                </header>
                <aside class="small-2 columns">
                    <ul>
                        <li><button {{action "delete" this}}>Remove</button></li>
                        <li><i class="fi-clock"></i>Expires {{date Expire}}</li>
                    </ul>
                </aside>
            </div>
        {{else}}
            <h2>You have no memories yet :c , try adding one!</h2>
        {{/each}}
        <br>
    </script>
    <script type="text/x-handlebars" data-template-name="memory">
        <h1>Memory Info</h1>
        {{outlet}}
    </script>
    <script type="text/x-handlebars" data-template-name="memory/addmemory">
        <h1>Add a new story</h1>
        <main class="row">
                <section id="login-btns">
                    <form>
                        <p>
                            <label>Name</label>
                            {{input type="text" value=name placeholder="Name" }}
                        </p>
                        <p>
                            <label>Is Public</label>
                            <span>Yes</span>{{view Ember.RadioButton name="public" selectionBinding="isPublic" value="1"}}
                            <span>No</span>{{view Ember.RadioButton name="public" selectionBinding="isPublic" value="0"}}
                        </p>
                        <p>
                            <label>Expiration Date</label>
                            {{input type="date" value=expire placeholder="Expiration Date" }}
                        </p>
                        <input class="button expand" {{action "create"}} type="submit" value="Add Memory">
                    </form>
                    <p> {{#link-to "memories"}}Cancel{{/link-to}}</p>
                </section>
            </main>
    </script>

    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/libs/jquery-1.10.2.js"></script>
    <script src="js/libs/handlebars-1.1.2.js"></script>
    <script src="js/libs/ember-1.6.1.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
